.movie_image_container {
    max-width: 356px;
    max-height: 542px;
    height: 100%;
    position: relative;
    width: 100%;
    aspect-ratio: 2 / 3; // Or height if preferred
    border-radius: 12px;
    overflow: hidden;
}

.movie_title_wrapper{
    max-width: 221px;
    width: 100%;
}
.movie_title {
    color:white;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0%;
}

