.upload_movie_form_container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 270px 1fr;
    /* first column fixed, second expands */
    gap: 20px;
    /* space between Poster and Thumbnail */
    align-items: start;
}

.upload_movie_form_container .movie_upload_box {
    height: 340px;
    min-height: 32px;
    opacity: 1;
    border: 1.5px dashed #404040;
    padding: 6px;
    border-radius: 4px;
    background: #201C28;
    box-shadow: 0px 1px 2px 0px #0000000D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #9D9D9D;
}

// .drag_drop{
//     &
// }