.profile_page_wrapper {
    margin-block: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: start;
    align-items: start;
    width: 100%;
}

.my_movie_contianer {
    width: 100%;
    border-radius: 8px;
    border-width: 1px solid #404040;
    padding-inline: 24px;
    padding-block: 24px;
}