.movie_details_wrapper {
    width: 100%;
    margin-inline: auto;
    display: flex;
    gap: 30px;
    margin-top: -100px;
}

.movie_image_container {
    max-width: 356px;
    // max-height: 542px;
    height: 542px;
    position: relative;
    width: 100%;
    aspect-ratio: 356/512;
    border-radius: 12px;
    overflow: hidden;
    padding: 13px 0px;
}

.movie_title_wrapper {
    max-width: 400px;
    width: 100%;
    z-index: 80;
}

.movie_title {
    color: white;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0%;
}

.paragraph_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #BEBEBE;
}

.cast_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 28px;

    .each_cast {
        width: 165px;
        border: 1px solid #696969;
        border-radius: 16px;
        padding: 10px;
        cursor: pointer;

        // .visionary-info {
        //   display: flex;
        //   justify-content: space-between;
        //   align-items: center;
        // }

        .cast_thumb {
            position: relative;
            width: 100%;
            aspect-ratio: 143/147;
            border-radius: 12px;
        }

        .cast_name {
            color: #ffffff;
            margin-bottom: 4px;
            margin-top: 12px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            text-align: center;
        }
    }
}

.cast_view_more {
    width: 124px;
    height: 160px;
    opacity: 1;
    gap: 10px;
    border-radius: 16px;
    border-width: 1px;
    padding: 10px;
    border: 1px solid #9875F6;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0px 22px;
}